[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/sfml"]
	path = libs/sfml
	url = https://github.com/SFML/SFML
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "libs/depthai"]
	path = libs/depthai
	url = https://github.com/luxonis/depthai-core.git
